@charset "utf-8";
/* CSS Document */
body{
	background:black;
	margin:0;
	font-family:arial;
	overflow-x:hidden;
}
	.container{
	max-height: 300px;	
	}
.header1,.header2,.header3{
	padding-bottom:350px;
	width:100%;
	position: fixed;
	left:0;
	top:0;
}
.img{
	width:120%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	animation:zoom-out 3s linear infinite;
}
@keyframes zoom-out{
	100%{
		width:100%;
	}
}
.text-box{
	width:600px;
	position:absolute;
	top:200px;
	left:100px;
	color:white;
	animation: textup 12s linear infinite;
	transform: translateY(100px);
}
.text-box h1{
	font-size:40px;
	color:#CB1316;
	margin-bottom:40px;
}
.text-box p{
	color:white;
	font-size:20px;
	line-height:18px;
	margin-top:80px;
	
}
.text-box span{
	background:red;
	height:1px;
	width:100px;
	position:absolute;
}
.header1{
	animation:slide1 12s linear infinite;
}
.header2{
	animation:slide2 12s linear infinite;
}
.header3{
	animation:slide3 12s linear infinite;
}
@keyframes slide1{
	0%{
		visibility:visible;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:hidden;
	}
	75%{
		visibility:hidden;
	}
	100%{
		visibility:visible;
	}
}
@keyframes slide2{
	0%{
		visibility:hidden;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:visible;
	}
	75%{
		visibility:hidden;
	}
	100%{
		visibility:hidden;
	}
}
@keyframes slide3{
	0%{
		visibility:hidden;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:hidden;
	}
	75%{
		visibility:visible;
	}
	100%{
		visibility:hidden;
	}
}
@keyframes textup{
	10%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(0px);
	}
}
.text-box1{
	animation-delay:0s;
}
.text-box2{
	animation-delay:3s;
}
.text-box3{
	animation-delay:6s;
}
.lgo{
	position:absolute;
	width:150px;
}
.column1{
	float:left;
	width:20%;
	margin-top:40px;
	margin-left:50px;
}
.navigation:after{
	content:'';
	display:table;
	clear:both;
}
.column2{
	position:absolute;
	margin-left:970px;
	margin-top:40px;
}
a{
	width:85px;
	text-decoration:none;
	color:grey;
	font-size: 20px;
	margin:10px;
	padding:1em 0;
	transition:all .4s ease-in-out;
}
.line{
	width:80px;
	height:3px;
	background-color:#CB1316;
}
.btn{
	color:#CB1316;
}
a:hover{
	color:#CB1316;
}

a:nth-child(2):hover ~ .line{
	transform:translate(80px);
	transition:all .4s ease-in-out;
}
a:nth-child(3):hover ~ .line{
	transform:translate(160px);
	transition:all .4s ease-in-out;
}
a:nth-child(4):hover ~ .line{
	transform:translate(240px);
	transition:all .4s ease-in-out;
	width:125px;
}
.container2{
	width:100%;
	margin-top:600px;
	position: absolute;
	width:100%;
	background:black;
}
h2{
	color:black;
	text-align:center;
	font-size:35px;
}
.container2 p2{
	color:grey;
	font-size:20px;
	text-align: center;
}
.col-container{
	margin-top:50px;
	margin-left:20px;
	display:table;
	width:100%;
}
.col{
	display:table-cell;
	padding:0;
}
.container3{
	background:white;
}
.clients{
	margin:35px;

}
.services .service-card{
	height:500px;
	overflow-y:hidden;
	display:flex;
	
}
.services .service-card-one
{
	margin:50px;
	height:100px;
	margin-top:80px;
	text-align:center;
	margin-left:115px;
	background:#CB1316;
	width:18%;
	border:1px;
	border-color:#CB1316;
}
.services .service-card-one h5{
	margin-top:-30px;
	color:grey;
	font-weight: 740;
	font-size:20px;
}
.services .service-card-two{
	margin-top:20px;
	text-align:center;
	width:100%;
	border:1px;
	border-color:#CB1316;
}
.services .service-card-two p5{
	color:grey;
	font-size:18px;
}
.service-card-one:hover .comply{
animation: slide 2s;	
}
@keyframes slide{
	from{
		margin-left:200px;
	}
	to{
		margin-left:0;
	}
}
.services .service-card-one-one
{
	margin:50px;
	height:100px;
	margin-top:80px;
	text-align:center;
	margin-left:115px;
	background:#CB1316;
	width:18%;
	border:1px;
	border-color:#CB1316;
}
.services .service-card-one-one h5{
	margin-top:-30px;
	color:grey;
	font-weight: 740;
	font-size:20px;
}
@keyframes rotate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
.service-card-one-one .compl{
	animation: rotate 5s;
	animation-iteration-count: infinite;
}
.complimentary {
	overflow:hidden;
}
.who{
	margin-left:30px;
	text-align:center;
	margin-right:30px;
}
.footer img{
	margin:10px;
}
.social{
	float:right;
}
.social img{
	width:30px;
	margin:7px;
	filter:grayscale(100%);
}
.social img:hover{
	filter:grayscale(0%);
	transition:.4s;
}
.copy{
	color:grey;
}
.block{
	width:33.3%;
	padding:25px;
	float:left;
	box-sizing: border-box;
}