@charset "utf-8";
/* CSS Document */
[aos="rotate"].aos-animate{
	transform: rotate(360deg);
	transition-property: all;
}
[aos="slide"].aos-animate{
animation: slide 2s;
	transition-property: all;
}
@keyframes slide{
	from{
		margin-left:200px;
	}
	to{
		margin-left:0;
	}
}