@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
.header{
	background-image:url("images/IMG_7913.JPG");
	background-repeat:none;
	background-size:cover;
	width:100%;
	padding-bottom:230px;
}
.navbar{
	position:sticky;
	top:0;
}
.lgo{
	width:150px;
}
.row:after{
	content:'';
	display:table;
	clear:both;
}
.column1{
	float:left;
	width:20%;
	margin-top:40px;
	margin-left:50px;
}
.btn{
	color:#CB1316;
}
a{
	width:85px;
	text-decoration:none;
	color:grey;
	font-size: 20px;
	margin:10px;
	padding:1em 0;
	transition:all .4s ease-in-out;
}
nav{
	margin-right:35px;
}
.column2{
	margin-top:40px;
	float:right;
}
.line{
	width:80px;
	height:3px;
	background-color:#CB1316;
}
a:hover{
	color:#CB1316;
}

a:nth-child(2):hover ~ .line{
	transform:translate(80px);
	transition:all .4s ease-in-out;
}
a:nth-child(3):hover ~ .line{
	transform:translate(160px);
	transition:all .4s ease-in-out;
}
a:nth-child(4):hover ~ .line{
	transform:translate(240px);
	transition:all .4s ease-in-out;
	width:125px;
}
h1{
	font-size:70px;
	color:#9C0204;
	text-align: center;
	margin-top:20%;
}
h2{
	font-size:50px;
	color:#9C0204;
	text-align: center;
}
hr{
	width:15%;
	height:2px;
	background:#9C0204;
	border:none;
	margin-top:-35px;
}
form{
	text-align:center;
	padding:30px;
	color:white;
}
input[type=text]{
	border:1.5px solid #9C0204;
	background: #9C0204;
	width:400px;
	height:50px;
	font-size:30px;
	text-align: center;
	margin:10px;
}
textarea{
	border:1.5px solid #9c0204;
	width:65%;
	height:200px;
	margin:40px;
	background: #9C0204;
	font-size:30px;
}
.end{
	width:70%;
	margin-top:0;
}
li{
	list-style: none;
	color:grey;
}
iframe{
	width:70%;
	text-align: center;
	height:550px; 
	frameborder:0;
	border:0; 
	allowfullscreen:""; 
	aria-hidden:false;
	tabindex:0;
	margin:180px;
}
.footer img{
	margin:10px;
}
.social{
	float:right;
}
.social img{
	width:30px;
	margin:7px;
	filter:grayscale(100%);
}
.social img:hover{
	filter:grayscale(0%);
	transition:.4s;
}
.copy{
	color:grey;
}
.block{
	width:33.3%;
	padding:25px;
	float:left;
	box-sizing: border-box;
}