@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	background-color:black;
	box-sizing: border-box;
	font-family:sans-serif;
}
.header{
	background-size:cover;
	background-repeat: no-repeat;
	background-image:url("images/header1.jpg");
	padding-bottom:660px;
}
.fade-anime{
	overflow:hidden;
	max-height:650px;
}
.fade{
	animation: fadeIn 2.5s;
	animation-fill-mode:forwards;
	margin-left:450px;
	font-size:50px;
	text-align:left;
	color:#CB1316;
	position:absolute;
}
.fade1{
	animation: fadeIn1 2.5s;
	animation-fill-mode:forwards;
	margin-left:530px;
	font-size:30px;
	text-align:left;
	color:white;
	position:absolute;
}
.fade2{
	animation: fadeIn2 2.5s;
	animation-fill-mode:forwards;
	margin-left:540px;
	font-size:50px;
	text-align:left;
	color:#CB1316;
	position:absolute;
}
.fade3{
	animation: fadeIn3 2.5s;
	animation-fill-mode:forwards;
	margin-left:400px;
	font-size:30px;
	text-align:left;
	color:white;
	position:absolute;
}
.fade4{
	animation: fadeIn4 2.5s;
	animation-fill-mode:forwards;
	margin-left:500px;
	font-size:50px;
	text-align:left;
	color:#CB1316;
	position:absolute;
}
.fade5{
	animation: fadeIn5 2.5s;
	animation-fill-mode:forwards;
	margin-left:420px;
	font-size:30px;
	text-align:left;
	color:white;
	position:absolute;
}
@keyframes fadeIn{
	from{
		margin-top:650px;
		opacity:0
	}
	to{
		margin-top:200px;
		opacity:1;
	}
}
@keyframes fadeIn1{
	from{
		margin-top:650px;
		opacity:0
	}
	to{
		margin-top:255px;
		opacity:1;
	}
}
@keyframes fadeIn2{
	from{
		margin-top:650px;
		opacity:0;
	}
	to{
		margin-top:340px;
		opacity:1;
	}
}
@keyframes fadeIn3{
	from{
		margin-top:650px;
		opacity:0;
	}
	to{
		margin-top:395px;
		opacity:1;
	}
}
@keyframes fadeIn4{
	from{
		margin-top:650px;
		opacity:0;
	}
	to{
		margin-top:480px;
		opacity:1;
	}
}
@keyframes fadeIn5{
	from{
		margin-top:650px;
		opacity:0;
	}
	to{
		margin-top:535px;
		opacity:1;
	}
}
.navbar{
	position:sticky;
	top:0;
}
.lgo{
	width:150px;
}
.row:after{
	content:'';
	display:table;
	clear:both;
}
.column1{
	float:left;
	width:20%;
	margin-top:40px;
	margin-left:50px;
}
.btn{
	color:#CB1316;
}
a{
	width:85px;
	text-decoration:none;
	color:grey;
	font-size: 20px;
	margin:10px;
	padding:1em 0;
	transition:all .4s ease-in-out;
}
nav{
	margin-right:35px;
}
.column2{
	margin-top:40px;
	float:right;
}
.line{
	width:80px;
	height:3px;
	background-color:#CB1316;
}
a:hover{
	color:#CB1316;
}

a:nth-child(2):hover ~ .line{
	transform:translate(80px);
	transition:all .4s ease-in-out;
}
a:nth-child(3):hover ~ .line{
	transform:translate(160px);
	transition:all .4s ease-in-out;
}
a:nth-child(4):hover ~ .line{
	transform:translate(240px);
	transition:all .4s ease-in-out;
	width:125px;
}
h1{
	color:#CB1316;
	font-size:45px;
	text-align:center;
}
p{
	margin-left:px;
	margin-right:55px;
	font-size:30px;
	color:grey;
	text-align:center;
	
}
.container{
	width:1200px;
	position:relative;
	display:flex;
	justify-content:space-between;
	margin-left:7px;
}
.container .card{
	position:relative;
	margin:6px;
}
.container .card .face{
	width: 255px;
	height:261px;
	transition:0.5s;
}
.container .card .face.face1{
	position:relative;
	background:#333;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index: 1;
	transform:translateY(176px);
}
.container .card:hover .face.face1{
	background:#fff;
	transform: translateY(0)
}

.container .card .face.face1 .content{
	opacity: 0.2;
	transition:0.5s;
}
.container .card:hover .face.face1 .content{
	opacity: 1;
}
.container .card .face.face1 .content img{
	max-width:120px;
}
.container .card .face.face1 .content h2{
	margin:10px 0 0;
	padding:0;
	color:#fff;
	text-align:center;
	font-size:27px;
}
.container .card .face.face2{
	position:relative;
	background: #fff;
	display:flex;
	justify-content:center;
	padding: 30px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform:translateY(-85px);
}
.container .card:hover .face.face2{
	transform: translateY(0);
}
.container .card .face.face2 .content p1{
	font-size:20px;
	margin: 0;
	padding: 0;
}
.container .card:hover .face.face1 h2{
	color:black;
}
.column3{
	float:left;
	width:40%;
}
.row2:after{
	width:100%;
	content:'';
	display:table;
	clear:both;
}
.one{
	width:450px;
}
.column5{
	float:left;
	width:50%;
}
.two{
	width:600px;
}
.container3{
	max-height:100px;
	background-image:url("images/3.jpg");
	padding-bottom:300px;
	background-repeat: no-repeat;
	background-size:cover;
	display: flex;
	text-align:center;
}
.container3 div{
	width:25%;
}
.pro{
	margin-top:30px;
}
h7{
	text-align: center;
	color:grey;
	font-size:30px;
}
.container3 p{
	margin-left:45px;
}
.container3 img{
	filter:grayscale(100%);
	width:200px;
	padding:20px;
}
.container3 img:hover{
	filter:grayscale(0%);
	transition:.5s
}
.container4{
	padding-bottom:40px;
	background:black;
}
.columnfooter{
	text-aligh:center;
	margin-top:20px;
	margin-left:50px;
	float:left;
}
.containercounter .counter .top.top1:hover .title p3{
	color:#CB1316;
	transition:.8s;
}
.containercounter .counter .top.top1:hover .title h3{
	color:#CB1316;
	transition:.8s;
}
.containercounter .counter .top.top1:hover .title .ico{
	opacity:1;
	transition:.8s;
}
.container4{
	overflow:hidden;
	width:100%;
	text-align:center;
}
.slides{
	margin-left:4px;
	margin-top:30px;
	width:1500px;
	height:30px;
	position:relative;
	transition:left;
}
.slides-image{
	transition: transform .2s;
	width:120px;
	float:left;
	margin:20px;
}
.slides-image:hover{
	transform:scale(1.5);
	
}
.footer img{
	margin:10px;
}
.social{
	float:right;
}
.social img{
	width:30px;
	margin:7px;
	filter:grayscale(100%);
}
.social img:hover{
	filter:grayscale(0%);
	transition:.4s;
}
.copy{
	color:grey;
	font-size:18px;
}
.block{
	width:33.3%;
	padding:25px;
	float:left;
	box-sizing: border-box;
}