@charset "UTF-8";
@media screen and (max-width:991px){
    body{
        overflow-x: hidden !important;
    }
    .loader > img{
        width:30%;
    } 
      .txxt{
        margin:15% 0px 0px -72%;
      }
      .conthr{
        margin:1% 0px 0px 25%;
      }
      .navbar{
          padding-left:28vw;
      }
    }
@media screen and (max-width:484px){
      .loader > img{
        width:120%;
      }
      .main-container{
        background:url("images/backie.svg");
        background-repeat: no-repeat;
        background-size:100%;
        height:100vh;
      }
      #header{
        display:flex;
        top:0;
        position:fixed;
        width:100%;
        z-index: 500;
        transition:.4s all ease;
      }
      .logo img{
        width:70%;
      }
      .logo, .navbar{
        width:30%;
      }
      .navbar{
        padding-left:35vw;
        margin-top:5vh;
      }
      nav ul{
        display: flex;
        list-style: none;
      }
      li a{
        padding:.5vw 0px 0px 2vw;
        text-decoration: none;
        color:rgb(255, 255, 0);
        font-size:2.5vw;
        font-family:"choko milky";
        transition:.2s all ease;
      }
      a:hover{
        filter:opacity(30%);
      }
      .dropbtn {
        background:none;
        color: black;
        font-size: 2.5vw;
        border: none;
        cursor: pointer;
        font-family:"choko milky";
        padding-left:2.4vw;
      }
      
      .dropbtn:focus {
        outline:none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background:none;
        width: 260px;
        overflow: auto;
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      font-size:2vw;
      }
      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}
      .headertwo{
        display:block;
        box-sizing: border-box;
        text-align:center;
      }
      .left{
        margin-top:10vh;
        padding:10px;
      }
      .nt{
        width:56%;
      }
      .center img{
        margin-left:0%;
        width:60%;
        filter:drop-shadow(3px 5px 10px);
      }
      .right{
        text-align:right;
        margin-top:-50vh;
      }
      .right ul{
        list-style: none;
      }
      .right img{
        width:10%;
        padding-bottom:7vh;
      }
      .left .center .right{
        width:30%;
      }
      .containertwo{
        display:flex;
        background:url("images/backie2.svg");
        background-size:95%;
        height:70%;
        margin-top:-20vh;
        padding-bottom:5vh;
        background-repeat:no-repeat;
        background-position:center;
      }
      .txxt{
        width:110%;
        margin:14% 0px 0px -150%;
        font-size:4vw;
        color:rgb(0, 0, 0);
      }
      .mascot img{
        padding:3vw;
        width:15%;
        margin-top:5vh;
      }
      .containerthree{
        background:rgb(255, 255, 0);
        text-align center;
        display:flex;
        padding-bottom:10vh;
      }
      .look{
          text-align:right;
      }
      .look img{
        width:75%;
      }
      .conthr{
        margin:0% 0px 0px 10%;

      }
      p2{
          font-size:3vw;
      }
      h2{
        font-size:7vw;
        text-align:center;
        padding-top:11%;
        font-family:"choko milky";
      }
      h3{
        text-align:center;
        padding-top:2%;
        font-family:"choko milky";
        font-size:7vw !important;
      }
      .containerfour{
        background:#b40301;
        padding-bottom:5vh;
        margin-top:-8vh;
      }
      .pizza{
        width:45%;
        position:absolute;
        margin-left:5%;
      }
      .pizzone, .pizztwo, .pizzthree{
        position:absolute;
        width:8%;
      }
      .pizzone{
      margin:52% 0px 0px 1%;
      width:28%;
      }
      .pizztwo{
        margin:60% 0px 0px 35%;
        width:28%;
      }
      .pizzthree{
        margin:3% 0px 0px 33%;
        width:28%;
      }
      .prices{
        margin-left:50%;
      }
      .prc{
        width:27%;
        margin-left:12%;
      }
      h4{
        text-align:center;
        font-size:7vw;
        color:yellow;
      }
      h5{
        text-align:center;
        font-size:7vw;
        color:yellow;
        margin-top:-3vh; 
      }
      span{
        color:white;
      }
      h6{
        text-align:center;
        font-size:5.5vw;
        font-family:"comic sans ms";
        margin-top:-4vh;
        transform:rotate(11deg);
      }
      .container{
        display:flex;
        margin:2% 0px 0px 7%;  
      }
      .container img{
        width:40%;
        font-family:"choko milky";
        padding:2%;
      }
      .containerfive{
        display:block !important;
      }
      .containerfive img{
        width:95%;
        margin:1.4%;
      }
      .containersix{
        display:block;
        background:#b40301;
      }
      .containersix .consix img{
        width:80%;
        padding:5%;
      }
      .vid img{
        width:100%;
      }
      .containernine{
        display:block;
        margin:-5vh 0px 10vh 0px;
        background:url("images/backie2.svg");
        background-size:95%;
        height:auto;
        background-repeat:no-repeat;
        background-position:center;
      }
      .conclusion{
        padding:18vh 0px 3% 5vw;
        width:90%;
        font-size:3.3vw;
        margin-left:0vw;
        margin-top:1vh;
        color:white;
      }
      .conimg img{
        width:40%;
        margin-top:1vh;
        padding-left:35vw;
      }
      .footer{
          background:#b40301;
          display:flex;
      }
      .footer img{
          width:100%;
      }
      .social{
          margin-left:25%;
        display:flex;
      }
      .social img{
          width:30px;
          height:30px;
          padding:10px;
      }
      
}     